.header {
  text-align: left;
  font-size: 30px;
  padding: 10px 10px;
}

#start-button {
  margin-left: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

.bar {
  text-align: left;
  font-size: 16px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 5%;
  padding-left: 5%;
}

.one-chord {
  background-color: rgb(255, 194, 194);
}

.five-chord {
  background-color: rgb(177, 244, 177);
}

.drop-down {
  text-align: left;
  font-size: 18px;
  padding-top: 3.5%;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.technique {
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.symbol {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 7;
  padding-top: 0;
}

img {
  height: 40px;
  width: 40px;
}

p {
  font-size: 20px;
}

.credit {
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: lightslategray;
  font-style: italic;
  padding-top: 10px;
}

li {
  font-size: 20px;
}