body {
  padding: 0;
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  background-color:  rgb(247, 247, 247);
  /* background-color:  rgb(228, 226, 226); */
  min-height: 40px;
}

.header-title  {
  grid-column-start: 1;
  margin-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  /* color: rgb(110, 109, 109); */
  color: rgb(75, 75, 75);
}

h2 {
  padding: 0;
  margin: 0;
}

.button-container {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 5px;
  margin-top: 5px;
}

button {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  /* background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%); */
  background: linear-gradient(180deg, rgb(141, 141, 141) 0%, rgb(117, 117, 117) 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


/* #start-button {
  margin-left: 10px;
} */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, auto);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item {
  text-align: center;
}

.bar {
  text-align: left;
  white-space: nowrap;
  font-size: 16px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 5%;
  padding-left: 5%;
}

.drop-down {
  text-align: left;
  font-size: 18px;
  padding-top: 3.5%;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.select-technique {
  width: 85px;
}

.chord-drop-down  {
  text-align: left;
  font-size: 18px;
  padding-top: 3.5%;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chord-select {
  width: 55px;
}

.quarter1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: -1;
}

.technique {
  overflow: visible;
  padding-top: 12px;
  font-size: 16px;
  grid-column-start: 3;
  grid-column-end: 7;
  min-height: 8vh;
}

.symbol {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: -1;
  padding-top: 0;
  min-height: 15vh;
}

.one-chord {
  background-color: rgb(255, 194, 194);
}

.five-chord {
  background-color: rgb(177, 244, 177);
}

.quarter4 {
  padding-top: 20%;
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
}

img {
  height: 40px;
  width: 40px;
}

p {
  font-size: 20px;
}

.spacer {
  min-height: 100px;
}

.credit {
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: lightslategray;
  font-style: italic;
  padding-top: 10px;
}

li {
  font-size: 20px;
}

#info {
  margin-left: 10px;
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .technique {
    padding-top: 5%;
    font-size: 24px;
    min-height:  4vh;
  }

  .symbol {
    padding-top: 10%;
    min-height: 7.5vh;
  }
  
  .drop-down {
    text-align: center;
    font-size: 18px;
    padding-top: 3.5%;
    padding-left: 5%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .chord-drop-down  {
    text-align: left;
    font-size: 18px;
    padding-top: 7%;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
